
<li class="list-group-item" [class.list-group-item-success]="completed">
  <div class="form-check d-inline">
      <input type="checkbox" class="form-check-input" id="complete" (change)="onChange()">
      <label for="complete" class="form-check-label lead">{{todoInput.title}}</label>
  </div>
  <div class="float-right">
      <span class="mx-3">{{todoInput.date | date}}</span>
      <button mat-mini-fab color="warn" (click)="deleteTodo(todoInput)">
        <mat-icon>delete</mat-icon>
      </button>
  </div>
</li>
