<div class="container">
  <h1 class="text-center title">My Todo List</h1>

  <div class="text-right">

    <button mat-raised-button color="primary" (click)="openDialog()">Add Todo</button>
  </div>
  <br>
  <br>
  <!-- go to list todo <app-list-to-do></app-list-to-do> -->
  <router-outlet></router-outlet>
</div>
