<div class="container text-center ">


<h1 mat-dialog-title>Add Todo</h1>
<form #addTodo="ngForm" (submit)="onSubmit(); onNoClick()">
  <div mat-dialog-content>

    <mat-form-field appearance="fill">
      <mat-label>Favorite Animal</mat-label>
      <input type="text" name="todo" class="form-control" placeholder="Add Todo . . ." [(ngModel)]="todo" required>
    </mat-form-field>

  </div>
  <div mat-dialog-actions class="text-right">
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="addTodo.invalid"> Add </button>
  </div>
</form>

</div>
