
<div class="card shadow" >
  <h5 class="card-header">My Todo List</h5>
  <div class="card-body">
      <ul class="list-group" *ngFor="let todo of todoService.todoList; trackedBy : trackByTodo">

          <app-to-do [todoInput]="todo"></app-to-do>

      </ul>
  </div>
</div>
